<!-- =========================
        Google Map
=========================  -->
<section class="google-map py-0">
<!--  <iframe frameborder="0" height="500" width="100%"-->
<!--          src="https://www.google.com/maps/place/Tabaka+Mission+Hospital/@-0.7472881,34.6650656,17.17z/data=!4m12!1m6!3m5!1s0x182b481efadcf189:0x350c6f39bb27a8d6!2sTabaka+Mission+Hospital!8m2!3d-0.74724!4d34.667035!3m4!1s0x182b481efadcf189:0x350c6f39bb27a8d6!8m2!3d-0.74724!4d34.667035;t=m&amp;z=10&amp;output=embed&amp;iwloc=near">-->
<!--  </iframe>-->
</section><!-- /.GoogleMap -->

<!-- ==========================
    contact layout 1
=========================== -->
<section class="contact-layout1 pt-0 mt--100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-panel d-flex flex-wrap">
          <form class="contact-panel__form" method="post" id="contactForm">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="contact-panel__title">How Can We Help? </h4>
                <p class="contact-panel__desc mb-30">Please feel welcome to contact our friendly reception staff
                  with any general or medical enquiry. Our doctors will receive or return any urgent calls.
                </p>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <i class="icon-user form-group-icon"></i>
                  <input type="text" class="form-control" placeholder="Name (required)" id="contact-name"
                         name="contact-name"
                         required>
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <i class="icon-email form-group-icon"></i>
                  <input type="email" class="form-control" placeholder="Email (required)" id="contact-email"
                         name="contact-email" required>
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <i class="icon-phone form-group-icon"></i>
                  <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                         name="contact-phone" required>
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <i class="icon-phone form-group-icon"></i>
                  <input type="text" class="form-control" placeholder="Subject" id="contact-Subject"
                         name="contact-phone" required>
                </div>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.col-lg-6 -->
            <div class="col-12">
              <div class="form-group">
                <i class="icon-alert form-group-icon"></i>
                <textarea class="form-control" placeholder="Message" id="contact-message"
                          name="contact-message"></textarea>
              </div>
              <button type="submit" class="btn btn__secondary btn__rounded btn__block btn__xhight mt-10">
                <span>Submit Request</span> <i class="icon-arrow-right"></i>
              </button>
              <div class="contact-result"></div>
            </div><!-- /.col-lg-12 -->
          </form>
          <div
            class="contact-panel__info d-flex flex-column justify-content-between bg-overlay bg-overlay-primary-gradient">
            <div class="bg-img"><img src="assets/images/banners/1.jpg" alt="banner"></div>
            <div>
              <h4 class="contact-panel__title color-white">Quick Contacts</h4>
              <p class="contact-panel__desc font-weight-bold color-white mb-30">Please feel free to contact our
                friendly staff with any medical enquiry.
              </p>
            </div>
            <div>
              <ul class="contact__list list-unstyled mb-30">
                <li>
                  <i class="icon-phone"></i><a href="tel:+254700000">Emergency Line: (254) 700000</a>
                </li>
                <li>
                  <i class="icon-location"></i><a href="JavaScript:Void(0)">Location: Nairobi, Kenya</a>
                </li>
                <li>
                  <i class="icon-clock"></i><a href="JavaScript:Void(0)">Mon - Fri: 8:00 am - 7:00 pm</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.contact layout 1 -->
