<!-- ========================
  About Layout 1
=========================== -->
<section class="about-layout1 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="heading-layout2">
          <h3 class="heading__title mb-40">About Us</h3>
        </div><!-- /heading -->
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="about__Text">
          <p class="mb-30">
            Tabaka Mission Hospital is a non-profit making hospital which is owned by Catholic Diocese of Kisii, under
            the umbrella of the Kenya conference of Catholic Bishops (K.C.C.B).
          </p>
          <p class="mb-30">
            It is however run and managed by Trustees Servants of the Sick (Camillians) under the signed Contract of 1st
            October 1996.
          </p>
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="video-banner">
          <img src="assets/images/about/1.jpg" alt="about">
        </div><!-- /.video-banner -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.About Layout 1 -->

<!-- ======================
Features Layout 1
========================= -->
<section class="features-layout1 pt-130 pb-50 mt--90">
  <!--  <div class="bg-img"><img src="assets/images/backgrounds/1.jpg" alt="background"></div>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item px-3 opened">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">Background Information</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse show" data-parent="#accordion">
            <div class="accordion__body">
              <p>
                The construction of the hospital began in 1972 with Rev. Fr. Witte (parish priest of Tabaka
                Catholic Church) spearheading the project.
                It was built with financial assistance from Misereor and the Catholic / Diocese of Cremona in
                Italy. The hospital had a bed capacity of 120 but since then the bed capacity has grown to 260
                and with the same bed occupancy.
              </p>
              <p>
                The hospital was opened in 1973 and recognized by Kenyan Government official; at a time Dr.
                Moraili and Sr. Luiginaferoni (nurse) were in-charge of the facility. In 1974, the Local Ordinary
                at that time, Bishop Tiberius C. Mugendi contacted the Bishop of Cremeona with Mons E.
                Brochieri and the provincial ForsenioVezzani to get the personnel for the hospital. At the same
                time the Superior General of the Camillian Sisters was also approached to allow the sisters to
                form the necessary staff for the hospital. After accomplishing all this process, the hospital was
                revived again with the presence of the Camillians (Servants of the Sick). In 1976 the Camillians
                got support of Camillian Sisters and regardless of the many challenges and difficulties they
                assured the late Tiberius of continuity to offer this unique service to humanity.
              </p>
              <p>
                On 1
                st day of January 1976, the final paper work was signed and the Camillians took over the
                business process of the hospital on behalf of the Diocese. Today the hospital has a capacity of
                260 beds, with aspiration that by the end of 2022 it will be 300 bed capacity, as plans are
                underway for expansion. The hospital has running water through out with an extension to
                supporting the community as a sign to giving back. Power source is stable with an automated
                generator that backs up the city power. An improve staff compound is in place owing the
                location of the facility accommodation possess a challenge.
              </p>
              <p>
                It’s worthy to note that the Hospital is also approved as a learning institution to train qualified
                personnel in the medical industry like Nurses, operative Theatre Technologists, and Laboratory
                technologists. So, it has an established and function medical college that has been in existence
                for Twenty (20) years. Currently it has over 200 students undertaking their medical studies. The
                Hospital also receives other students from other institutions for learning such as JKUAT. Who
                do their clinical lab rotations to equip them with the necessary knowledge and skills. The
                Hospital Lab is a four star and was accredited on 15th March 2019.
                This is a major milestone, as the facility will now be a referral on lab services within the western
                region.
              </p>
            </div>
          </div>
        </div><!-- /.accordion-item -->
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /.Features Layout 1 -->

<!-- ======================
 Work Process
========================= -->
<section class="work-process work-process-carousel pt-4 pb-0 bg-overlay bg-overlay-secondary">
  <!--  <div class="bg-img"><img src="assets/images/banners/1.jpg" alt="background"></div>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center mb-1">
          <h3 class="heading__title">Our Values</h3>
        </div><!-- /.heading -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <!-- service item #1 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">Dedication</h4>
            <p class="service__desc">
              We are dedicated to offering patients and their families efficient service and great value for their
              money.
            </p>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #2 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Empathy
            </h4>
            <p class="service__desc">
              We are devoted to providing a warm, friendly and caring environment in which patients can recover.
            </p>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #3 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Inspiration
            </h4>
            <p class="service__desc">
              We are an organization that inspires our staff to achieve the extraordinary and develop the best careers.
            </p>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #4 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Quality
            </h4>
            <p class="service__desc">
              We pursue superior performance and quality in all we do, to build and preserve the Hospital’s clinical,
              organizational and financial strength.
            </p>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #5 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Partnerships
            </h4>
            <p class="service__desc">
              We recognize the value of strong internal and external partnerships to accomplish our goals.
            </p>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="cta bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <img src="assets/images/icons/alert.png" alt="alert">
        </div><!-- /.col-lg-2 -->
        <div class="col-sm-12 col-md-10 col-lg-10">
          <h4 class="cta__title">
            OUR CORPORATE CULTURE
          </h4>
          <p class="cta__desc">
            We are specific about quality and we take pride in our reputation in provision of the highest standards of
            health care; we give patient satisfaction paramount attention. Our management style creates a sense of
            belonging and thus our highly motivated and committed staff believes in teamwork and assisting each other to
            accomplish the corporate mission. Our admitting doctors are highly qualified and have specialized skills
            which meet international standards. We continue to maintain our nurses’ training school as part of our
            professional development programme.

            We are self-financing and any surpluses are reinvested in hospital development, for the benefit of patients.
            In order to monitor our own performance we will continue to be subject to internal and external audits. We
            believe that the efficient utilization of our human and material resources is essential for the long term
            future of the hospital
          </p>
        </div><!-- /.col-lg-7 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.cta -->
</section><!-- /.Work Process -->

