<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
<!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Specialist Centers</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/about-us']">About</a></li>
            <li class="breadcrumb-item active" aria-current="page">Specialist Centers</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item opened">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">Anderson Centre – Speciality Clinic</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse show" data-parent="#accordion">
            <div class="accordion__body">
              <p>ANTENATAL CLINIC (GYNAECOLOGY; POSTNATAL & FAMILY PLANNING)</p>
              <ul>
                <li>Mondays 12pm -4pm</li>
                <li>Tuesday 8am-4pm</li>
                <li>Wednesday 8am-12 pm</li>
                <li>Thursday 1pm -4pm</li>
              </ul>
              <p>BREAST CLINIC</p>
              <ul>
                <li>Thursday 8am -12pm</li>
                <li>Mondays 2pm – 4pm</li>
              </ul>
              <p>CARDIOLOGY CLINIC</p>
              <ul>
                <li>Mondays 9am -12pm (Paediatrics)</li>
                <li>Mondays 9am -12pm ( Adults)</li>
              </ul>
              <p>CHEST CLINIC (PULMONARY)</p>
              <ul>
                <li>Thursday 8am-12pm</li>
              </ul>
              <p>TB CLINIC</p>
              <ul>
                <li>Monday – 8am -4pm (Collection of TB drugs on daily basis except Sundays)</li>
                <li>Saturdays 8am -12pm.</li>
              </ul>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse2">
            <a class="accordion__title" href="JavaScript:Void(0)">Maternity</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse2" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p>
                The NHWC is located within the confines of the Nairobi Hospital complex. It houses several clinics which
                include:
              </p>
              <ul>
                <li>Antenatal and maternity services with feto -maternal medicine specialization</li>
                <li>General gynecology services</li>
                <li>Menopausal medicine</li>
                <li>Minimally invasive and gynaecological surgery services</li>
              </ul>
            </div><!-- /.accordion-item-body -->
            <div class="accordion__body">
              <h6>ANTENATAL AND MATERNITY SERVICES</h6>
              <p>
                The Tabaka Mission hospital provides top of the range antenatal, labour and maternity services under one roof.
                We provide antenatal services and packages suited to ones needs. The Anderson maternity package is run
                in the Anderson hospital centre located adjacent to the doctor’s plaza. It is open to all and is run by
                qualified obstetrician gynaecologist supported by a team of midwives and nurses who will support your
                medical and social needs from before conception to delivery and thereafter in care of the baby.
              </p>
              <p class="font-weight-bold">Antenatal & Maternity Packages FAQ’S</p>
              <ol>

                <li>What does the Antenatal Package cover?</li>
                <ul>
                  <li>6 Antenatal visits (any extra visits out of the schedule will be charges separately)</li>
                  <li>2 Postnatal visit by the doctor after CS at 2 weeks & 6 weeks</li>
                  <li>1 Neo-natal baby visit (at 2 weeks old)</li>
                  <li>Pre-natal investigations i.e. Laboratory tests & 2 ultrasound scans</li>
                  <li>1 postnatal visit by the doctor (after Normal delivery at 6 weeks)</li>
                  <li>1 physiotherapy session</li>
                </ul>

                <li>What is the price of the Antenatal Package?</li>
                <ul>
                  <li>Ksh. 60,000</li>
                </ul>

                <li>What does the Normal Delivery Package cover?</li>
                <ul>
                  <li>Obstetricians, Paediatricians & Resident Registrar fee</li>
                </ul>
              </ol>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse3">
            <a class="accordion__title" href="JavaScript:Void(0)">The Tabaka Mission Hospital Cancer Center</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse3" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p>
                The NHWC is located within the confines of the Nairobi Hospital complex. It houses several clinics which
                include:
              </p>
              <ul>
                <li>Antenatal and maternity services with feto -maternal medicine specialization</li>
                <li>General gynecology services</li>
                <li>Menopausal medicine</li>
                <li>Minimally invasive and gynaecological surgery services</li>
              </ul>
            </div><!-- /.accordion-item-body -->
            <div class="accordion__body">
              <h6>ANTENATAL AND MATERNITY SERVICES</h6>
              <p>
                The Tabaka Mission hospital provides top of the range antenatal, labour and maternity services under one roof.
                We provide antenatal services and packages suited to ones needs. The Anderson maternity package is run
                in the Anderson hospital centre located adjacent to the doctor’s plaza. It is open to all and is run by
                qualified obstetrician gynaecologist supported by a team of midwives and nurses who will support your
                medical and social needs from before conception to delivery and thereafter in care of the baby.
              </p>
              <p class="font-weight-bold">Antenatal & Maternity Packages FAQ’S</p>
              <ol>

                <li>What does the Antenatal Package cover?</li>
                <ul>
                  <li>6 Antenatal visits (any extra visits out of the schedule will be charges separately)</li>
                  <li>2 Postnatal visit by the doctor after CS at 2 weeks & 6 weeks</li>
                  <li>1 Neo-natal baby visit (at 2 weeks old)</li>
                  <li>Pre-natal investigations i.e. Laboratory tests & 2 ultrasound scans</li>
                  <li>1 postnatal visit by the doctor (after Normal delivery at 6 weeks)</li>
                  <li>1 physiotherapy session</li>
                </ul>

                <li>What is the price of the Antenatal Package?</li>
                <ul>
                  <li>Ksh. 60,000</li>
                </ul>

                <li>What does the Normal Delivery Package cover?</li>
                <ul>
                  <li>Obstetricians, Paediatricians & Resident Registrar fee</li>
                </ul>
              </ol>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse4">
            <a class="accordion__title" href="JavaScript:Void(0)">International Patient Center</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse4" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p>
                The NHWC is located within the confines of the Nairobi Hospital complex. It houses several clinics which
                include:
              </p>
              <ul>
                <li>Antenatal and maternity services with feto -maternal medicine specialization</li>
                <li>General gynecology services</li>
                <li>Menopausal medicine</li>
                <li>Minimally invasive and gynaecological surgery services</li>
              </ul>
            </div><!-- /.accordion-item-body -->
            <div class="accordion__body">
              <h6>ANTENATAL AND MATERNITY SERVICES</h6>
              <p>
                The Tabaka Mission hospital provides top of the range antenatal, labour and maternity services under one roof.
                We provide antenatal services and packages suited to ones needs. The Anderson maternity package is run
                in the Anderson hospital centre located adjacent to the doctor’s plaza. It is open to all and is run by
                qualified obstetrician gynaecologist supported by a team of midwives and nurses who will support your
                medical and social needs from before conception to delivery and thereafter in care of the baby.
              </p>
              <p class="font-weight-bold">Antenatal & Maternity Packages FAQ’S</p>
              <ol>

                <li>What does the Antenatal Package cover?</li>
                <ul>
                  <li>6 Antenatal visits (any extra visits out of the schedule will be charges separately)</li>
                  <li>2 Postnatal visit by the doctor after CS at 2 weeks & 6 weeks</li>
                  <li>1 Neo-natal baby visit (at 2 weeks old)</li>
                  <li>Pre-natal investigations i.e. Laboratory tests & 2 ultrasound scans</li>
                  <li>1 postnatal visit by the doctor (after Normal delivery at 6 weeks)</li>
                  <li>1 physiotherapy session</li>
                </ul>

                <li>What is the price of the Antenatal Package?</li>
                <ul>
                  <li>Ksh. 60,000</li>
                </ul>

                <li>What does the Normal Delivery Package cover?</li>
                <ul>
                  <li>Obstetricians, Paediatricians & Resident Registrar fee</li>
                </ul>
              </ol>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse5">
            <a class="accordion__title" href="JavaScript:Void(0)">Physical Medical Center</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse5" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p>
                The NHWC is located within the confines of the Nairobi Hospital complex. It houses several clinics which
                include:
              </p>
              <ul>
                <li>Antenatal and maternity services with feto -maternal medicine specialization</li>
                <li>General gynecology services</li>
                <li>Menopausal medicine</li>
                <li>Minimally invasive and gynaecological surgery services</li>
              </ul>
            </div><!-- /.accordion-item-body -->
            <div class="accordion__body">
              <h6>ANTENATAL AND MATERNITY SERVICES</h6>
              <p>
                The Tabaka Mission hospital provides top of the range antenatal, labour and maternity services under one roof.
                We provide antenatal services and packages suited to ones needs. The Anderson maternity package is run
                in the Anderson hospital centre located adjacent to the doctor’s plaza. It is open to all and is run by
                qualified obstetrician gynaecologist supported by a team of midwives and nurses who will support your
                medical and social needs from before conception to delivery and thereafter in care of the baby.
              </p>
              <p class="font-weight-bold">Antenatal & Maternity Packages FAQ’S</p>
              <ol>

                <li>What does the Antenatal Package cover?</li>
                <ul>
                  <li>6 Antenatal visits (any extra visits out of the schedule will be charges separately)</li>
                  <li>2 Postnatal visit by the doctor after CS at 2 weeks & 6 weeks</li>
                  <li>1 Neo-natal baby visit (at 2 weeks old)</li>
                  <li>Pre-natal investigations i.e. Laboratory tests & 2 ultrasound scans</li>
                  <li>1 postnatal visit by the doctor (after Normal delivery at 6 weeks)</li>
                  <li>1 physiotherapy session</li>
                </ul>

                <li>What is the price of the Antenatal Package?</li>
                <ul>
                  <li>Ksh. 60,000</li>
                </ul>

                <li>What does the Normal Delivery Package cover?</li>
                <ul>
                  <li>Obstetricians, Paediatricians & Resident Registrar fee</li>
                </ul>
              </ol>
            </div>
          </div>
        </div><!-- /.accordion-item -->

      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
