<!-- ============================
    Slider
============================== -->
<section class="slider">
  <div class="slick-carousel m-slides-0"
       data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
    <div class="slide-item slide-item-1 align-v-h">
      <div class="bg-img">
        <!--            <img src="assets/images/sliders/4.jpg" alt="slide img">-->
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
            <div class="slide__content">
                  <span class="slide__subtitle">
                    Caring For The Health And Well Being Of Family.
                  </span>
              <h2 class="slide__title">
                Quality Health Care For Family.
              </h2>
              <p class="slide__desc">
                The health and well-being of our patients and their health care team will
                always be our priority, so we follow the best practices for cleanliness.
              </p>
              <div class="d-flex flex-wrap align-items-center">
                <a [routerLink]="['/about-us']" class="btn btn__white btn__rounded mr-30">
                  <span>More About Us</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.slide-content -->
          </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.slide-item -->
  </div><!-- /.carousel -->
</section><!-- /.slider -->

<!-- ======================
Features Layout 3
========================= -->
<section class="features-layout3 py-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="row row-no-gutter feature-wrapper">
          <!-- Feature item #1 -->
          <div class="col-sm-12 col-md-4">
            <div class="feature-item">
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="icon-heart"></i>
                </div>
                <h4 class="feature__title">Medical Advices & Check Ups</h4>
              </div><!-- /.feature__content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-md-4 -->
          <!-- Feature item #2 -->
          <div class="col-sm-12 col-md-4">
            <div class="feature-item">
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="icon-doctor"></i>
                </div>
                <h4 class="feature__title">Trusted Medical Treatment </h4>
              </div><!-- /.feature__content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-md-4 -->
          <!-- Feature item #3 -->
          <div class="col-sm-12 col-md-4">
            <div class="feature-item">
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="icon-ambulance"></i>
                </div>
                <h4 class="feature__title">Emergency Help Available 24/7</h4>
              </div><!-- /.feature__content -->
            </div><!-- /.feature-item -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.col-lg-8 -->
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="feature-item feature-item-custom">
          <div class="feature__content">
            <h4 class="feature__title">Opening Hours</h4>
            <ul class="time__list list-unstyled text-white mb-0">
              <li><span>Monday - Friday</span><span>24/7 Hours</span></li>
              <li><span>Saturday</span><span>24/7 Hours</span></li>
              <li><span>Sunday</span><span>24/7 Hours</span></li>
            </ul>
          </div><!-- /.feature__content -->
        </div><!-- /.feature-item -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.Features Layout 3 -->

<!-- ========================
  About Layout 3
=========================== -->
<section class="about-layout3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
        <div class="heading-layout2">
          <h2 class="heading__subtitle color-primary">Helping Patients From Around the Country!!</h2>
          <h3 class="heading__title mb-60">Welcome home <br> We treat,Jesus heals.</h3>
        </div><!-- /heading -->
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2">
        <div class="experience">
          <h2 class="experience__years">30</h2>
          <h3 class="experience__text">Years of Experience</h3>
          <p>
            TMH A Non-Profit Catholic Organization Established To Provide Affordable ,Sustainable,Holistic Health Care
            Services following the example Of Jesus Christ and the Charism Of Saint Camillus
          </p>
        </div><!-- /.experience -->
      </div><!-- /.col-lg-2 -->
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="video-banner-layout2 bg-overlay">
          <img src="assets/images/about/3.jpg" alt="about" class="w-100">
        </div><!-- /.video-banner -->
      </div><!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="about__text">
          <div class="text__icon">
            <img style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; " src="assets/images/about/dhSaintCamillus-Patient-Jesus002.jpg" />
          </div>
          <p class="heading__desc font-weight-bold color-secondary mb-30">
            TMH Founder
          </p>
          <p class="heading__desc">
            Saint Camillus of Lellis, Italian <strong>San Camillo De Lellis</strong>, (born May 25, 1550, Bucchianico, Kingdom of Naples
            [now in Italy]—died July 14, 1614, Rome; canonized 1746; feast day July 14), founder of the Ministers of the
            Sick. Along with St. John of God, Camillus became patron of the sick.
          </p>
          <a [routerLink]="['/about-us']" class="btn btn__secondary btn__rounded mt-40">
            <span>Read More</span> <i class="icon-arrow-right"></i>
          </a>
        </div><!-- /.about__text -->
      </div><!-- /.col-lg-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.About Layout 3 -->

<!-- ========================
   Services Layout 1
=========================== -->
<section class="services-layout1 services-carousel">
  <!--      <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center py-4">
          <h3 class="heading__title">Featured Services</h3>
        </div><!-- /.heading -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <!-- service item #1 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">Traumatology</h4>
            <p class="service__desc">
              Denouncing pleasure & praising pain was born and we will give you a complete account of the system.
            </p>
            <a [routerLink]="['/senior-management']" class="btn btn__secondary btn__outlined btn__rounded">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #2 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Oncology
            </h4>
            <p class="service__desc">
              Denouncing pleasure & praising pain was born and we will give you a complete account of the system.
            </p>
            <a [routerLink]="['/specialistcenter']" class="btn btn__secondary btn__outlined btn__rounded">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #3 -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__content">
            <h4 class="service__title">
              Nuclear medicine
            </h4>
            <p class="service__desc">
              Denouncing pleasure & praising pain was born and we will give you a complete account of the system.
            </p>
            <a [routerLink]="['/nursing-services']" class="btn btn__secondary btn__outlined btn__rounded">
              <span>Read More</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.service__content -->
        </div><!-- /.service-item -->
      </div><!-- /.col-lg-4 -->
      <!-- service item #4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.Services Layout 1 -->
