<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
    <!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Laboratory</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laboratory</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item opened">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">About Lab</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse show" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">The Tabaka Mission Hospital Laboratory</p>
              <p>
                The laboratory is one of the best equipped, staffed and offering most specialized tests in the region.
                In the quest for quality services to all our clients, we are ISO 15189 accredited by Kenya Accreditation
                Services (KENAS). A quality coordinator ensures maintenance of ISO and all quality Assurance programs
                are up-held. Like the rest of the hospital, we have been certified for ISO 14001: 2004 and ISO 22000:
                2005. The Laboratory is headed by a Consultant Pathologist/ Manager and each of the sections has a
                Senior Technologist supervising and a consultant Pathologist reviewing all the results. Before we start
                testing, daily internal quality controls and calibrations are ran to assure quality of the reports. We
                are enrolled to several International External Quality Assurance Schemes for international peer reviews.
              </p>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse2">
            <a class="accordion__title" href="JavaScript:Void(0)">Services Offered</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse2" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">
                Services & Section
              </p>
              <p>
                We offer all routine laboratory tests, blood donor services, specialized & referral laboratory tests.
                For all established laboratory tests, we do not refer our patients elsewhere but there are a few of the
                newer and rare tests which we refer to our collaborators in United Kingdom, Italy, South Africa and USA.
                To receive the best & professional laboratory services, clients need to come with a duly filled
                laboratory request form from their doctor. There are however a few tests that the clients can make a
                self request; Malaria test, Haemoglobin tests, Blood Grouping, Pregnancy test, HIV blood testing with
                mandatory counseling, Cholesterol, Prostate Antigen (PSA) test and Blood Sugar test. For all the other
                tests patients need a doctor who will not only order the test but also interpret the results and
                recommend treatment.
              </p>
            </div><!-- /.accordion-item-body -->
          </div>
        </div><!-- /.accordion-item -->

      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
