<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
    <!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Radiology</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Radiology</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1">
        <h6>The Tabaka Mission Hospital Radiology Department</h6>
        <p>
          Modern, dynamic and professional diagnostic imaging centre – that is The Tabaka Mission Hospital Radiology
          Department. With the best technology available today, the hospital has established leadership in diagnostic
          and interventional imaging in the medical sector.
        </p>
        <h6>Radiology Objectives</h6>
        <ul>
          <li>To provide a modern and dynamic ‘one stop ‘imaging centre</li>
          <li>To be at the cutting edge in provision of quality imaging services</li>
          <li>To become a borderless imaging department through modern technology</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">Services</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">Radiology Services</p>
              <p>
                All routine imaging is performed digitally using the latest computed radiography systems or direct
                digital systems. Images are displayed on high resolution monitors and recorded on dry films, CDs or
                DVDs. The digital imaging is a cleaner production process that does not involve use of darkroom
                chemicals. High quality images are produced with minimised need for retakes.
              </p>
              <ol>
                <li>
                  CT Scans
                </li>
                <li>Flouroscopy</li>
                <li>Interventional</li>
                <li>Mammography/ breast imaging.</li>
                <li>MRI</li>
                <li>Ultrasound</li>
                <li>X-rays</li>
                <li>OPG</li>
                <li>Cardiac catheterization / angiograms.</li>
                <li>Echocardiography</li>
                <li>ERCP</li>
                <p>
                  We are offering Endoscopic Retrograde Cholangio
                  Pancretography (ERCP) which is the study of billiary
                  system under the guidance of endoscopic team in
                  radiology.
                </p>
              </ol>
            </div>
          </div>
        </div><!-- /.accordion-item -->
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
