<section class="team-layout1 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center mb-40">
          <h3 class="heading__title">Senior Management Team</h3>
          <p class="heading__desc">
            Our administration and support staff all have exceptional people skills and
            trained to assist you with all medical enquiries.
          </p>
        </div><!-- /.heading -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <!-- Member #1 -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="member">
          <div class="member__img">
            <img src="assets/images/team/1.jpg" alt="member img">
          </div><!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Mike Dooley</h5>
            <p class="member__job">CEO, Neurosurgeon</p>
            <p class="member__desc">Mike Dooley obtained his undergraduate degree in Biomedical Engineering at Tulane
              University prior to attending St George's University School of Medicine</p>
          </div><!-- /.member-info -->
        </div><!-- /.member -->
      </div><!-- /.col-lg-4 -->
      <!-- Member #2 -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="member">
          <div class="member__img">
            <img src="assets/images/team/2.jpg" alt="member img">
          </div><!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Richard Muldoone</h5>
            <p class="member__job">Ass. CEO, Neurosurgeon</p>
            <p class="member__desc">Richard specializes in treating skin, hair, nail, and mucous membrane. He also
              address cosmetic issues, helping to revitalize the appearance of the skin</p>
          </div><!-- /.member-info -->
        </div><!-- /.member -->
      </div><!-- /.col-lg-4 -->
      <!-- Member #3 -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="member">
          <div class="member__img">
            <img src="assets/images/team/3.jpg" alt="member img">
          </div><!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Maria Andaloro</h5>
            <p class="member__job">Manager</p>
            <p class="member__desc">Andaloro graduated from medical school and completed 3 years residency program
              in pediatrics. She passed rigorous exams by the American Board of Pediatrics.</p>
          </div><!-- /.member-info -->
        </div><!-- /.member -->
      </div><!-- /.col-lg-4 -->
      <!-- Member #4 -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="member">
          <div class="member__img">
            <img src="assets/images/team/4.jpg" alt="member img">
          </div><!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Dupree Black</h5>
            <p class="member__job">Ass Manager</p>
            <p class="member__desc">Dupree Black diagnose and treat diseases of the urinary tract in both men and women.
              He
              also diagnose and treat anything involving the reproductive tract in men.</p>
          </div><!-- /.member-info -->
        </div><!-- /.member -->
      </div><!-- /.col-lg-4 -->
      <!-- Member #5 -->
    </div> <!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.Team layout 1  -->
