<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
    <!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Nursing Services</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nursing</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ========================
  About Layout 1
=========================== -->
<section class="about-layout1 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="heading-layout2">
          <h3 class="heading__title mb-40">Services</h3>
        </div><!-- /heading -->
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="about__Text">
          <p class="mb-30">
            Undertaking Diploma in Nursing program at TMH St.Camillus college, you will build a strong academic
            foundation for your rewarding and enriching career in the medical field.
          </p>
          <p>
            As a nursing student, you will
            learn the fundamental skills required of a nurse generalist, including the basics of medical care, critical
            thinking, interpersonal skills, and technical competence required for taking national licensure exams.
          </p>
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="video-banner">
          <img src="assets/images/about/nurses.jpg" alt="about">
        </div><!-- /.video-banner -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.About Layout 1 -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1">
        <h6>What You'll Learn</h6>
        <p class="mb-30">
            Undertaking Diploma in Nursing program at TMH St.Camillus college, you will build a strong academic
            foundation for your rewarding and enriching career in the medical field. As a nursing student, you will
            learn the fundamental skills required of a nurse generalist, including the basics of medical care, critical
            thinking, interpersonal skills, and technical competence required for taking national licensure exams.
          </p>
          <p class="mb-30">
            Nursing is a challenging and fulfilling profession with consistently high job satisfaction ratings. As a
            nurse, you will be a key part of the healthcare team providing collaborative, interdisciplinary care,
            leading to better outcomes for patients. With classroom, laboratory, and clinical training from our
            experienced team of instructors, you can gain the knowledge and skills that are most important in delivering
            superior patient care.
          </p>
          <p>
            The first two years of TMH College’s traditional Diploma program consist of general education courses that
            provide the liberal arts framework for the more advanced portions of the program. In the upper division
            nursing courses, students undertake a rigorous schedule with about 20 hours of in-class time per week.
          </p>
          <p>
            To deliver the highest-quality education, we use tools like case studies, presentations, Assessment
            Technologies Institute (ATI) resources, and other creative teaching approaches. On earning your diploma, you
            may choose to enter the healthcare industry immediately or pursue more advanced degrees and qualifications.
          </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
