<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
    <!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Our Pharmacy</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pharmacy</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item opened">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">Services</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse show" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">Quality Medicines by Professional Personnel</p>
              <p>
                Manned by highly qualified professional staff with specialized certifications, The Tabaka Mission
                Hospital
                pharmacy prides in the quality of professional services offered to clients.
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet mauris feugiat diam convallis
                convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Aliquam erat volutpat. Maecenas ut magna mollis massa facilisis faucibus. Aenean malesuada at ipsum eu
                tempus. Curabitur sit amet nibh vel dui dapibus vestibulum. Vivamus porta, purus sit amet aliquam
                iaculis, est diam placerat augue, eu pulvinar purus lorem sed est.
              </p>
            </div>
            <div class="accordion__body">
              <p class="font-weight-bold">Out-Patient Pharmacy Services</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet mauris feugiat diam convallis
                convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Aliquam erat volutpat. Maecenas ut magna mollis massa facilisis faucibus. Aenean malesuada at ipsum eu
                tempus. Curabitur sit amet nibh vel dui dapibus vestibulum. Vivamus porta, purus sit amet aliquam
                iaculis, est diam placerat augue, eu pulvinar purus lorem sed est.
              </p>
            </div>
            <div class="accordion__body">
              <p class="font-weight-bold">Both Local and International Prescriptions/p>
              <p>
                Vivamus semper viverra ipsum, eu dignissim ligula sodales pulvinar. In venenatis dapibus quam, vel
                facilisis leo interdum ac. Nulla arcu dolor, gravida non libero sit amet, vehicula laoreet nibh. Nulla
                scelerisque eu elit at consequat. Phasellus in accumsan dui. Cras sollicitudin sit amet eros vel dictum.
                Ut at semper turpis.
              </p>
            </div>
            <div class="accordion__body">
              <p class="font-weight-bold">100% Prescription Fill</p>
              <p>
                Vivamus semper viverra ipsum, eu dignissim ligula sodales pulvinar. In venenatis dapibus quam, vel
                facilisis leo interdum ac. Nulla arcu dolor, gravida non libero sit amet, vehicula laoreet nibh. Nulla
                scelerisque eu elit.
              </p>
            </div>
            <div class="accordion__body">
              <p class="font-weight-bold">Competitive Prices</p>
              <p>
                Vivamus semper viverra ipsum, eu dignissim ligula sodales pulvinar. In venenatis dapibus quam, vel
                facilisis leo interdum ac. Nulla arcu dolor, gravida non libero sit amet, vehicula laoreet nibh. Nulla
                scelerisque eu elit.
              </p>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse2">
            <a class="accordion__title" href="JavaScript:Void(0)">Patient Support and Services Resources</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse2" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">
                Drug Information
              </p>
              <p>
                Vivamus semper viverra ipsum, eu dignissim ligula sodales pulvinar. In venenatis dapibus quam, vel
                facilisis leo interdum ac. Nulla arcu dolor, gravida non libero sit amet, vehicula laoreet nibh. Nulla
                scelerisque eu elit at consequat. Phasellus in accumsan dui. Cras sollicitudin sit amet eros vel dictum.
                Ut at semper turpis.
              </p>
            </div><!-- /.accordion-item-body -->
            <div class="accordion__body">
              <p class="font-weight-bold">
                Toxicology/Poison Information
              </p>
              <p>
                Vivamus semper viverra ipsum, eu dignissim ligula sodales pulvinar. In venenatis dapibus quam, vel
                facilisis leo interdum ac. Nulla arcu dolor, gravida non libero sit amet, vehicula laoreet nibh. Nulla
                scelerisque eu elit at consequat. Phasellus in accumsan dui. Cras sollicitudin sit amet eros vel dictum.
                Ut at semper turpis.
              </p>
            </div><!-- /.accordion-item-body -->

          </div>
        </div><!-- /.accordion-item -->

      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
