<footer class="footer">
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="footer-widget-about">
                <h5 class="text-white text-center">Tabaka Mission <br /> Hospital</h5>
                <p class="color-gray">Our goal is to deliver quality of care in a courteous, respectful, and
                  compassionate manner. We hope you will allow us to care for you and strive to be the first and best
                  choice for your family healthcare.
                </p>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Services</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a [routerLink]="['/specialistcenter']">Specialist Center</a></li>
                    <li><a [routerLink]="['/lab']">Laboratory</a></li>
                    <li><a [routerLink]="['/nursing-services']">Nursing Services</a></li>
                    <li><a [routerLink]="['/pharmacy']">Pharmacy</a></li>
                    <li><a [routerLink]="['/radiology']">Radiology</a></li>
                    <li><a [routerLink]="['/ambulance-services']">Ambulance Services</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Links</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                    <li><a [routerLink]="['/senior-management']">Senior Management</a></li>
                    <li><a [routerLink]="['/newsmedia']">News & Media</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="footer-widget-contact">
                <h6 class="footer-widget__title color-heading">Quick Contacts</h6>
                <ul class="contact-list list-unstyled">
                  <li>If you have any questions or need help, feel free to contact with our team.</li>
                  <li>
                    <a href="tel:+2547000000" class="phone__number">
                      <i class="icon-phone"></i> <span>+254 7000000</span>
                    </a>
                  </li>
                  <li class="color-body">Nairobi, Kenya.</li>
                </ul>
                <div class="d-flex align-items-center">
                  <a [routerLink]="['/contact']" class="btn btn__primary btn__link mr-30">
                    <i class="icon-arrow-right"></i> <span>Get Directions</span>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="JavaScript:Void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="JavaScript:Void(0)"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="JavaScript:Void(0)"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-secondary">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <span class="fz-14">&copy; {{getYear()}} Tabaka Mission Hospital, All Rights Reserved.</span>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <nav>
                <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
                  <li><a href="JavaScript:Void(0)">Terms & Conditions</a></li>
                  <li><a href="JavaScript:Void(0)">Privacy Policy</a></li>
                  <li><a href="JavaScript:Void(0)">Cookies</a></li>
                </ul>
              </nav>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-secondary -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
