<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout5">
  <div class="bg-img">
    <!--    <img src="assets/images/backgrounds/6.jpg" alt="background">-->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
        <h1 class="pagetitle__heading my-3">Ambulance Services</h1>
        <nav>
          <ol class="breadcrumb my-1">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ambulance</li>
          </ol>
        </nav>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<!-- ======================
   FAQ
========================= -->
<section class="faq pt-120">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-1" id="accordion">
        <div class="accordion-item opened">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
            <a class="accordion__title" href="JavaScript:Void(0)">Ambulance</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse1" class="collapse show" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">The Tabaka Mission Hospital Ambulance</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ipsum molestie, porttitor lorem ac,
                commodo metus. Nam sodales justo non quam egestas imperdiet. Ut ac vestibulum tortor, nec suscipit mi.
                Fusce fermentum elementum arcu, non dignissim purus. Pellentesque volutpat dignissim scelerisque.
                Vestibulum ipsum justo, sodales non ligula id, luctus bibendum elit. Vestibulum iaculis lorem id tortor
                posuere, sit amet dictum justo pretium.
              </p>
            </div>
          </div>
        </div><!-- /.accordion-item -->

        <div class="accordion-item">
          <div class="accordion__header" data-toggle="collapse" data-target="#collapse2">
            <a class="accordion__title" href="JavaScript:Void(0)">Services Offered</a>
          </div><!-- /.accordion-item-header -->
          <div id="collapse2" class="collapse" data-parent="#accordion">
            <div class="accordion__body">
              <p class="font-weight-bold">
                Services & Section
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ipsum molestie, porttitor lorem ac,
                commodo metus. Nam sodales justo non quam egestas imperdiet. Ut ac vestibulum tortor, nec suscipit mi.
                Fusce fermentum elementum arcu, non dignissim purus. Pellentesque volutpat dignissim scelerisque.
                Vestibulum ipsum justo, sodales non ligula id, luctus bibendum elit. Vestibulum iaculis lorem id tortor
                posuere, sit amet dictum justo pretium.
              </p>
            </div><!-- /.accordion-item-body -->
          </div>
        </div><!-- /.accordion-item -->

      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.FAQ -->
